/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size: 16px;
}


/* HEADER  */
header {
	h1 {display: none;}
	img {padding: 1rem 0 .5rem 2%; display: block;}
} // end header


/* NAVigation  */

div.smallNavBar {
	background-color: $menuColor;
}


.hamburgerOpen {
	display: block;
	width: 7rem;
	height: 2.75rem;
	background-image: url(../images/menuOpenWhite.png);
	background-repeat: no-repeat;
	background-position: 2vw center; // 2% from the left and centered top to bottom
}


.hamburgerClose {
	@extend .hamburgerOpen;
	background-image: url(../images/menuCloseWhite.png);
}

nav {
	height: 100vh; // this ensures it'll fill up the screen on any device - aka "future proofing"
	width: 100%; //can't use vw because it will not work right if it has a scroll bar
	background-color: $menuColor;
	ul li a{
		display: block;
		color: #fff;
		text-decoration: none;
		width: 100%;
		padding: .6rem 2%;
		border-bottom: solid 1px rgba(0,0,0,0.3);
	}
	ul li ul li a {padding-left:8%;}
	ul li.active a {background-color: $primaryColor;}	
} // end nav



















/* MAIN  */
main {
	padding: 1rem 0;
	h1 {font-size: 2.5rem; color: $secondaryColor; padding-left: 2%;}
	figure.w100 img {width: 100%;}
	figure.w100 {width: 100%;}
	.box { 
		margin-top: 1rem;
		padding: 2rem 2%; 
		text-align: center; 
		line-height: 140%;
		font-size: 2rem; 
		color: #fff;
	} // end box
	.boxA {@extend .box; background-color: $primaryColor;}
	.boxB {@extend .box; background-color: $secondaryColor;}
	.box span {display: block; font-size: 1rem; line-height: 120%;}
} // end main

/* FOOTER  */
footer {
	color: $primaryColor;
	padding: 2rem 0;
	text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}